<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/portals/backoffice.css">
  <link rel="stylesheet" href="/stylesheets/listing/tableListingBackoffice.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>Sale History</title>
</head>
<body>
  <ul>
    <li><a class="importantbutton" href="/backoffice/employee">Back</a></li>
    <li><a href="/backoffice/employee/sales/makeSale">Make Sale</a></li>
    <li><a>
      <form action="/backoffice/employee/sales/search" method="post">
        <input type="text" name="search" placeholder="Search">
        <input type="submit" value="Search">
      </form>
    </a></li>
    <li style="float:right">
      <a class="importantbutton"
      href="/backoffice/logout">Logout</a>
    </li>
  </ul>
  <br>
  <% if(sales.length>0) { %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Client Username</th>
          <th scope="col">Books</th>
          <th scope="col">Total</th>
          <th scope="col">Shipping</th>
          <th scope="col">Gained Points</th>
          <th scope="col">Date</th>
          <th scope="col">Online</th>
          <th scope="col">Employee Username</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<sales.length;i++) { %>
          <tr>
            <td data-label="Client Username"> <%=sales[i].clientUsername%> </td>
            <td data-label="Books">
              <% for(var j=0; j<sales[i].books.length; j++) { %>
                <%=sales[i].books[j].title%>
                <br>
              <% } %>
            </td>
            <td data-label="Total"> <%=sales[i].total%> </td>
            <td data-label="Shipping"> <%=sales[i].shipping%> </td>
            <td data-label="Gained Points"> <%=sales[i].gainedPoints%> </td>
            <td data-label="Date"> <%=sales[i].dateString%> </td>
            <td data-label="Online"> <%=sales[i].online%> </td>
            <td data-label="Employee Username"> <%=sales[i].employeeUsername%> </td>
            <td data-label="operations">
              <form action="#/<%=sales[i].id%>" method="get">
                <input type="image" class="material-icons edit" name="_method" value="edit">
              </form>
              <form action="#/<%=sales[i].id%>" method="post" enctype="multipart/form-data"
                onsubmit="return confirm('Are you sure you want to remove this sale?')">
                <input type="image" class="material-icons delete" name="_method" value="delete">
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  <% } else { %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No Sales were found</th>
        </tr>
      </thead>
    </table>
  <% } %>
</body>
</html>