<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/portals/index.css">
  <link rel="stylesheet" href="/stylesheets/listing/tableListingBooks.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>New Books</title>
</head>
<body>
  <header id="header">
    <nav class="links" style="--items: 2;">
      <a href="/">Back</a>
      <a></a>
    </nav>
  </header>
  <div>
    <section class="layout">
      <% for(var i=0; i<books.length;i++) { %>
        <section class="book">
          <h1><%= books[i].title %></h1>
          <h2><%= books[i].author %></h2>
          <h2><%= books[i].genre %></h2>
          <h2><%= books[i].description %></h2>
          <h2><%= books[i].price %></h2>
        </section>
      <% } %>
    </section>
  </div>
</body>
</html> 