<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/portals/backoffice.css">
  <link rel="stylesheet" href="/stylesheets/listing/tableListingBackoffice.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>Admin Client Management</title>
</head>
<body>
  <ul>
    <li><a class="importantbutton" href="/backoffice/admin">Back</a></li>
    <li><a href="/backoffice/admin/client/create">Create</a></li>
    <li><a>
      <form action="/backoffice/admin/client" method="get">
        <input type="text" name="search" placeholder="Search">
        <input type="submit" value="Search">
      </form>
    </a></li>
    <li style="float:right">
      <a class="importantbutton"
      href="/backoffice/logout">Logout</a>
    </li>
  </ul>
  <br>
  <div class="container">
    <% if(clients.length>0) { %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Age</th>
            <th scope="col">Points</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<clients.length;i++) { %>
            <tr>
              <td data-label="username"> <%=clients[i].username%></a></td>
              <td data-label="name"> <%=clients[i].name%></td>
              <td data-label="address"> <%=clients[i].address%></td>
              <td data-label="email"> <%=clients[i].email%></td>
              <td data-label="phone"> <%=clients[i].phone%></td>
              <td data-label="ageType"> <%=clients[i].ageType%></td>
              <td data-label="points"> <%=clients[i].points%></td>
              <td data-label="operations">
                <form action="/backoffice/admin/client/update/<%=clients[i].id%>" method="get">
                  <input type="image" class="material-icons edit" name="_method" value="edit">
                </form>
                <form action="/backoffice/admin/client/delete/<%=clients[i].id%>" method="post" enctype="multipart/form-data"
                  onsubmit="return confirm('Are you sure you want to delete this client?')">
                  <input type="image" class="material-icons delete" name="_method" value="delete">
                </form>
              </td>
              <td>
                <form action="/backoffice/admin/client/update/password/<%=clients[i].id%>" method="get" enctype="multipart/form-data">
                  <br>
                  <input type="image" class="material-icons" name="_method" value="lock" style="color: white">
                </form>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
  </div>
  <div class="pagination">
    <br>
    <table>
      <tr>
        <td>
          <!-- check if there more than 1 page AND we are not in the first page -->
          <% if(totalPages>1 && currentPage>1) { %>
            <a href="?page=<%= (currentPage-1)%>&search=<%=query%>">
              <i class="material-icons">chevron_left</i>
            </a>
          <% } %>
        </td>
        <td>
          <% for(var i=1; i<=totalPages; i++) { %>
            <a href="?page=<%= i %>&search=<%=query%>" class="<% if(i==currentPage) { %>active<% } %>">
              <%= i %>
            </a>
          <% } %>
        </td>
        <td>
        <!-- check if its the last page -->
        <% if(totalPages>1 && totalPages>currentPage) { %>
          <a href="?page=<%= (currentPage+1)%>&search=<%=query%>">
            <i class="material-icons">chevron_right</i>
          </a>
        <% } %>
        </td>
      </tr>
    </table>
  </div>
    <% } else { %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No Clients were found</th>
          </tr>
        </thead>
      </table>
    <% } %>
</body>
</html>